#=============================================================================#
        Welcome to  {{ ansible_fqdn }}                
        ARCH   = {{ ansible_userspace_architecture }}                                   
        KERNEL = {{ ansible_kernel }}                                 
        SO     = {{ ansible_distribution }}                                     
        CPU    = {{ ansible_userspace_architecture }}
        GROUP  = Operaciones Cloud BigData / IA / ML

#=============================================================================#
